@yellow: #fdff92;
@green:#aef7cc;
@red:#e90808; 

.margin(@top: 0px, @bottom:0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @green;
    color: black;
    //margin-top: 50px;
    //margin-bottom: 0px; 
    .margin(50px, 0px);
}
  
  footer {
    padding: 10px 10px 0 10px;
    background-color:@green;
    //margin-top: 10px;
    //margin-bottom: 0px;
    .margin(10px, 0px);
}
  
  header {
    padding: 20px 20px 15px 10px;
    background-color:@yellow;
    color:@red;
    //margin-top: 10px;
    //margin-bottom: 0px; 
    .margin(10px,0px);
}
  
  .card-hotel {
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    //margin-top: 20px;
    //margin-bottom: 0px; 
    .margin(20px, 0px);
}
  
  .btn-reserva {
    width: 100%; }
  
  .breadcrumb-margin {
    margin-bottom: 40px; }
  
  .icon-space {
    padding-right: 5px; }
  
  .input-space {
    //margin-top: 10px;
    //margin-bottom: 10px;
    .margin(10px, 10px); 
}
  
  .fix-width {
    width: 100%;
    height: 400px; }
  
  .fix-table {
    padding-left: 0px; }
  
  .space-table {
    margin-bottom: 20px; }
  
  .carousel-space {
    margin: 20px 0 20px 0; }
  