.jumbotron {
    background-color: rgb(174, 247, 204);
    color: black;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(174, 247, 204);
    margin-bottom: 0px;
    margin-top: 10px;
}

header {
    padding: 20px 20px 15px 10px;
    background-color: rgb(253, 255, 146);
    color: rgb(233, 8, 8);
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    margin-top: 20px;
}

.btn-reserva {
    width: 100%;
}

.breadcrumb-margin {
    margin-bottom: 40px;
}

.icon-space {
    padding-right: 5px;
}

.input-space {
    margin-top: 10px;
    margin-bottom: 10px;
}

.fix-width {
    width: 100%;
    height: 400px;
}

.fix-table {
    padding-left: 0px;
}

.space-table {
    margin-bottom: 20px;
}

.carousel-space {
    margin: 20px 0 20px 0;
}